                      /* =====================================================
                      =====================================================
                      =====================================================
                                          ACTIVITY CSS
                      =====================================================
                      =====================================================
                      ===================================================== */

/* =====================================================
                    react actions
===================================================== */
body{
  /* background-image: 
  url("https://media.gettyimages.com/photos/close-up-of-barbell-weights-on-floor-of-dark-gym-picture-id554370953"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}
.hidden {
    visibility: hidden;
}

#activityList{
    overflow: scroll;
    height: 400px;

}
.timestamp{
    font-size: 30px;
}
.readonly{
  background: rgba(0, 0, 0, 0.4)
}
/* =====================================================
                    toggle switch
===================================================== */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* =====================================================
                    CSS ACTIVITY
===================================================== */

#activityStuff{
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;

}
#activityHistory{
  background: rgba(0, 241, 52, 0.3);
  border-radius: 10px;
}
#activity{
  color: rgb(16, 82, 51);
}
#newActivityForm{
  background: rgba(17, 67, 114, 0.4);
  padding: 40px;
  display: flex;
  align-content: center;
  flex-direction: column;
  color: rgb(144, 255, 70);
  font-weight: 900;
  border-radius: 10px;
  font-size: 150%;
}

