body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: antiquewhite;
	width: 100vw;
	height: 100vh;
}
.background {
	background: linear-gradient(to bottom, #bce0ee 0%, #b3dced 50%, #29b8e5 100%);
}
