#SearchDisplay {
    position: absolute;
    border: 1px solid black;
    width:50%;
    /* top:0px; */
    background-color: rgba(173, 216, 230,1)
    /* height: 400px;
    width:400px;
    border: 5px solid black; */
}
/* .background {
    background-image: url("../../food.jpg");
    background-size: cover;
} */
.history-items{
    color:black;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding:2px;
    width:100%;
    margin: 2px 0 2px 0;
}

.history-items:hover{
    background-color: rgba(0, 0, 0, 0.3);

}
.trash-icons:hover{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
}
.add-icons:hover{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}
#food-container{
    border: 1px solid black;
    border-top: 0;
    color:black;
    /* background-image: url("../../food.jpg") */
    background-color: rgba(173, 216, 230,0.5)
}